# Node.js dependencies
node_modules/

# Testing output
coverage/

# Production build
build/

# System files
.DS_Store

# Environment files (including backend)
.env
.env.*
!env.example
backend/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Others
.pnp
.pnp.js
